<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 align="center">Admin Register Details</h2>
<form action="adregdata" method="post">
    {% csrf_token %}
    <h3 style="color:red">{{data}}</h3>
<table align="center">
    <tr>
        <td>NAME:</td>
        <td><input type="text" name="mj"></td>
    </tr>
    <tr>
        <td>email:</td>
        <td><input type="email" name="text1"></td>
    </tr>
    <tr>
        <td>PASSWORD:</td>
        <td><input type="password" name="htpasswd"></td>
    </tr>
    <tr>
        <td>SUBMIT:</td>
        <td><input type="submit" name="smt" value="Register"></td>
    </tr>
</table>
</form>
</body>
</html>