<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 align="center">Student Details</h2>
<table align="center">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>AGE</th>
    <th>PHNO</th>
    <th>CITY</th>
    <th>COURSE</th>
    <th>UPDATE</th>
    <th>DELETE</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{i.id}}</td>
    <td>{{i.Name}}</td>
    <td>{{i.Age}}</td>
    <td>{{i.Phno}}</td>
    <td>{{i.City_Name}}</td>
    <td>{{i.Course_Name}}</td>
    <td><a href="{% url 'update' i.id %}">update</a></td>
    <td><a href="{% url 'dlt' i.id %}">deletet</a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>